.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

h2 {
  margin-top: 20px;
}
/* Stijlen voor de react-select component */
.react-select__control {
  background-color: #343a40 !important; /* Donkere achtergrondkleur */
  color: white !important; /* Tekstkleur */
  border: 1px solid #495057 !important; /* Randkleur */
}

.react-select__menu {
  background-color: #343a40 !important; /* Donkere achtergrondkleur van het dropdown-menu */
  color: white !important; /* Tekstkleur */
}

.react-select__single-value {
  color: white !important; /* Tekstkleur van de geselecteerde waarde */
}

.react-select__option {
  background-color: #343a40 !important; /* Achtergrondkleur van opties */
  color: white !important; /* Tekstkleur van opties */
}

.react-select__option--is-selected {
  background-color: #495057 !important; /* Kleur van geselecteerde opties */
  color: white !important;
}

.react-select__option--is-focused {
  background-color: #495057 !important; /* Hover kleur van opties */
  color: white !important;
}